/* footer */
#myFooter{
    background-color: #3c3d41;
    color: rgba(255, 255, 255, 1.00);
    margin: auto;
    padding: 60px 40px;

}

ul.pages, .list, .social-links {
    list-style:none;
    padding:0px; 
}
ul.pages a:hover, .list a:hover, .social-links a:hover{
    color:rgba(255,255,255,0.80);
    text-decoration:none; 
}

.social-links-heading{
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;

}

a{
    color: inherit;
}

#newsletter-section, #social-section, #footer-information, #footer-menu{
    
}

@media (max-width: 478px) {
#newsletter-section, #social-section, #footer-information, #footer-menu{
    margin-top: 20px;
}

#myFooter{
    padding: 30px 20px;
}


}
