.no-underline{
    text-decoration: none;
}

.mzp-c-hero-title-project{
    font-size: 30px;
    margin-bottom: 20px;
}

.mzp-c-footer-license{
    color: white;
}

.linenos{
    padding: 5px;
}

.category-article-thumbnail{
    height: 100%;
}

.h2{
    border-bottom: 2px solid #93c593;
    display: inline;
}