.no-underline{
    text-decoration: none;
}

.mzp-c-hero-title-project{
    font-size: 30px;
    margin-bottom: 20px;
}

.mzp-c-footer-license{
    color: white;
}

.linenos{
    padding: 5px;
}

.category-article-thumbnail{
    height: 100%;
}

h2{
    text-decoration: underline 3px #93c593;
    display: inline;
}

.mzp-c-card-title{
    text-decoration: none;
}

.site-note {
    background-color: #ffbe2e;
    max-width: 72ex;
    padding: .5rem;
    border-radius: 2px;
}

